# **Interval computations - Labs**

## **Prerequisites**

In [0]:
!pip install -q pyinterval

In [0]:
from interval import interval
from interval import imath
import pandas as pd
import numpy as np
import math

## **Equation**

### Utility

In [0]:
def width(x_i):
    return sum([x.sup - x.inf for x in x_i])

def midpoint(x_i):
    return (x_i[0].sup + x_i[0].inf) / 2

def itos(x_i):
    return f"[{x_i[0].inf:9.7f}, {x_i[0].sup:9.7f}]"

### Bisection method

#### *Bisection with console output*

In [0]:
def bisection(f, start, end, tol=0.01, iteration=1):
    X = interval[start, end]
    F = f(X)
    # No root if no zero
    if 0 not in F:
        print(iteration, '-', itos(X), itos(F), sep='\t')
        return
    # Found root if satisfies the tolerance
    if width(X) < tol:
        print(iteration, '+', itos(X), itos(F), sep='\t')
        return
    
    print(iteration, '*', itos(X), itos(F), sep='\t')
    mid = midpoint(X)
    bisection(f, start, mid, tol, iteration + 1)
    bisection(f, mid, end, tol, iteration + 1)

#### *Bisection with table output*

In [0]:
def bisection_tbl(f, start, end, tol=0.01):
    tbl = pd.DataFrame(columns=['Depth', 'Mark', 'Interval', 'Width', 'Function extension'])

    def bisection(f, start, end, tol=0.01, iteration=1):
        X = interval[start, end]
        X_width = width(X)
        F = f(X)
        # No root if no zero
        if 0 not in F:
            tbl.loc[len(tbl)] = [iteration, '-', itos(X), X_width, itos(F)]
            return
        # Found root if satisfies the tolerance
        if X_width < tol:
            tbl.loc[len(tbl)] = [iteration, '+', itos(X), X_width, itos(F)]
            return
        
        tbl.loc[len(tbl)] = [iteration, '*', itos(X), X_width, itos(F)]

        mid = midpoint(X)
        bisection(f, start, mid, tol, iteration + 1)
        bisection(f, mid, end, tol, iteration + 1)

    bisection(f, start, end, tol)
    return tbl.sort_values(['Depth', 'Interval'])

#### *Example*

In [6]:
#func = lambda x: x**5 - 7.5*x**4 + 21.25*x**3 - 28.125*x**2 + 17.125*x - 3.75
#func = lambda x: x**3 - 5.5*x**2 + 9*x - 4.5
#func = lambda x: x**3 - 1.2*x**2 + 0.47*x - 0.06
func = lambda x: imath.sin(x-1)*(x-2)*(x-3)
bisection_tbl(func, 0.9, 2.3, 1e-2)

   Depth Mark                Interval     Width        Function extension
0      1    *  [0.9000000, 2.3000000]  1.400000   [-0.6070417, 2.2258194]
1      2    *  [0.9000000, 1.6000000]  0.700000   [-0.2306152, 1.3043241]
16     2    *  [1.6000000, 2.3000000]  0.700000   [-0.4046944, 0.5395926]
2      3    *  [0.9000000, 1.2500000]  0.350000   [-0.2306152, 0.5715031]
15     3    -  [1.2500000, 1.6000000]  0.350000    [0.1385462, 0.7410932]
17     3    -  [1.6000000, 1.9500000]  0.350000    [0.0296437, 0.4555127]
18     3    *  [1.9500000, 2.3000000]  0.350000   [-0.3035208, 0.0505868]
3      4    *  [0.9000000, 1.0750000]  0.175000   [-0.2306152, 0.1730876]
14     4    -  [1.0750000, 1.2500000]  0.175000    [0.0983452, 0.4405337]
19     4    *  [1.9500000, 2.1250000]  0.175000   [-0.1184226, 0.0473690]
30     4    -  [2.1250000, 2.3000000]  0.175000  [-0.2529340, -0.0789484]
4      5    -  [0.9000000, 0.9875000]  0.087500  [-0.2306152, -0.0254700]
5      5    *  [0.9875000, 1.0750000]  0.087500   [-0.0254700, 0.1526810]
20     5    *  [1.9500000, 2.0375000]  0.087500   [-0.0339072, 0.0452096]
29     5    -  [2.0375000, 2.1250000]  0.087500  [-0.1085541, -0.0282560]
6      6    *  [0.9875000, 1.0312500]  0.043750   [-0.0254700, 0.0636664]
13     6    -  [1.0312500, 1.0750000]  0.043750    [0.0556355, 0.1429079]
21     6    -  [1.9500000, 1.9937500]  0.043750    [0.0051156, 0.0439991]
22     6    *  [1.9937500, 2.0375000]  0.043750   [-0.0324944, 0.0054157]
7      7    *  [0.9875000, 1.0093750]  0.021875   [-0.0254700, 0.0191027]
12     7    -  [1.0093750, 1.0312500]  0.021875    [0.0178800, 0.0616138]
23     7    *  [1.9937500, 2.0156250]  0.021875   [-0.0133613, 0.0053445]
28     7    -  [2.0156250, 2.0375000]  0.021875  [-0.0317880, -0.0127803]
8      8    -  [0.9875000, 0.9984375]  0.010937  [-0.0254700, -0.0031323]
9      8    *  [0.9984375, 1.0093750]  0.010937   [-0.0031323, 0.0187937]
24     8    *  [1.9937500, 2.0046875]  0.010938   [-0.0039810, 0.0053079]
27     8    -  [2.0046875, 2.0156250]  0.010937  [-0.0132160, -0.0038944]
10     9    +  [0.9984375, 1.0039062]  0.005469   [-0.0031323, 0.0078308]
11     9    -  [1.0039062, 1.0093750]  0.005469    [0.0077030, 0.0186400]
25     9    -  [1.9937500, 1.9992187]  0.005469    [0.0006553, 0.0052894]
26     9    +  [1.9992187, 2.0046875]  0.005469   [-0.0039593, 0.0006599]

### Moore's method

#### *Description*

$f(x) = 0$, interval $[a, b]$

$f'(x) \in C^1[a,b]$

$F'(x)$ - inclusion monotonic interval extension of $f'(x)$

$N(X) = m(X) + (- \frac{1}{F'(X)}) f(m(X))$

Necessary conditions:  
$f(x)$ has 1 (non-multiple) root at most on $[a, b]$

#### *Moore's with console output*

In [0]:
def moore(f, df, start, end, tol=1e-6, iteration=1):
    X = interval([start, end])
    X_width = width(X)

    # [Step 1]: Stop if no 0 in F(X)
    if 0 not in f(X):
        print(iteration, '-', itos(X), X_width, sep='\t')
        return
    
    # Return result if tolerance is satisfied
    if X_width < tol:
        print(iteration, '+', itos(X), X_width, sep='\t')
        return
    
    # [Step 2]: Half if 0 in F'(X)
    x_mid = midpoint(X)
    df_X = df(X)
    if 0 in df_X:
        print(iteration, '**', itos(X), X_width, sep='\t')
        moore(f, df, start, x_mid, tol, iteration + 1)
        moore(f, df, x_mid,   end, tol, iteration + 1)
        return
    
    # [Step 3]: Stop if X_next is empty
    f_mid = f(x_mid)
    U = x_mid - f_mid / df_X
    X_next = U & X
    if not X_next:
        print(iteration, '-', itos(U) + '&' + itos(X), sep='\t')
        return

    # [Step 4]: Continue with narrowed interval
    print(iteration, '*', itos(X), X_width, sep='\t')
    moore(f, df, X_next[0].inf, X_next[0].sup, tol, iteration + 1)

#### *Moore's with table output*

In [0]:
def moore_tbl(f, df, start, end, tol=1e-6, iteration=1):
    tbl = pd.DataFrame(columns=['Depth', 'Status', 'Interval', 'Width', 'Function extension'])

    def tbl_put(iteration, status, X, X_width, f_X):
        tbl.loc[len(tbl)] = [iteration, status, itos(X), X_width, itos(f_X)]

    def moore(start, end, iteration=1):
        X = interval([start, end])
        X_width = width(X)
        f_X = f(X)

        # [Step 1]: Stop if no 0 in F(X)
        if 0 not in f_X:
            tbl_put(iteration, 'no root', X, X_width, f_X)
            return
        
        # Return result if tolerance is satisfied
        if X_width < tol:
            tbl_put(iteration, 'RESULT', X, X_width, f_X)
            return
        
        # [Step 2]: Half if 0 in F'(X)
        x_mid = midpoint(X)
        df_X = df(X)
        if 0 in df_X:
            tbl_put(iteration, 'split', X, X_width, f_X)
            moore(start, x_mid, iteration + 1)
            moore(x_mid,   end, iteration + 1)
            return
        
        # [Step 3]: Stop if X_next is empty
        f_mid = f(x_mid)
        U = x_mid - f_mid / df_X
        X_next = U & X
        if not X_next:
            tbl_put(iteration, 'empty intersection', X, X_width, f_X)
            return

        # [Step 4]: Continue with narrowed interval
        tbl_put(iteration, 'continue', X, X_width, f_X)
        moore(X_next[0].inf, X_next[0].sup, iteration + 1)

    moore(start, end)
    return tbl.sort_values(['Depth', 'Status', 'Interval'])

#### *Example*

In [0]:
func = lambda x: x**3 - 1.2*x**2 + 0.47*x - 0.06
dfunc = lambda x: 3*x**2 - 2.4*x + 0.47 
moore_tbl(func, dfunc, 0.25, 0.43, 1e-6).to_csv('test.csv')

In [0]:
func = lambda x: x**3 - 9*x**2 + 23*x - 15
dfunc = lambda x: 3*x**2 - 18*x + 23 
moore_tbl(func, dfunc, 0.9, 3.2, 1e-6).to_csv('test.csv')

In [11]:
func = lambda x: x**2 - 8*x + 12
dfunc = lambda x: 2*x - 8

moore_tbl(func, dfunc, 3, 7)

   Depth              Status  ... Width         Function extension
0      1               split  ...  4.00  [-35.0000000, 37.0000000]
12     2            continue  ...  2.00  [-19.0000000, 21.0000000]
1      2               split  ...  2.00  [-19.0000000, 13.0000000]
13     3              RESULT  ...  0.00    [-0.0000000, 0.0000000]
2      3               split  ...  1.00   [-11.0000000, 4.0000000]
7      3               split  ...  1.00   [-12.0000000, 5.0000000]
3      4  empty intersection  ...  0.50    [-7.0000000, 0.2500000]
11     4  empty intersection  ...  0.50    [-7.7500000, 1.0000000]
4      4               split  ...  0.50    [-7.7500000, 0.0000000]
8      4               split  ...  0.50    [-8.0000000, 0.2500000]
5      5             no root  ...  0.25   [-5.7500000, -1.9375000]
6      5             no root  ...  0.25   [-5.9375000, -2.0000000]
9      5             no root  ...  0.25   [-6.0000000, -1.9375000]
10     5             no root  ...  0.25   [-5.9375000, -1.7500000]

[14 rows x 5 columns]

### Hansen's method

#### *Hansen's with console output*

In [0]:
def hansen(f, df, start, end, tol=1e-6, iteration=1):
    X = interval([start, end])
    X_width = width(X)

    # [Step 1]: Stop if no 0 in F(X)
    if 0 not in f(X):
        print(iteration, '-', itos(X), X_width, sep='\t')
        return

    # Return result if tolerance is satisfied
    if X_width < tol:
        print(iteration, "+", itos(X), X_width, sep='\t')
        return
    
    # [Step 2]: Half if 0 in F'(X)
    x_mid = midpoint(X)
    f_mid = f(x_mid)
    df_X = df(X)
    if f_mid == 0.0:
        print(iteration, "+", itos(X), X_width, '<====== { f == 0 }', sep='\t')
        hansen(f, df, start, x_mid, tol, iteration + 1)
        hansen(f, df, x_mid, end, tol, iteration + 1)
        return
    
    # [Step 3]: Stop if X_next is empty
    U = x_mid - f_mid / df_X
    X_next = U & X
    if not X_next:
        print(iteration, '-', itos(U) + '&' + itos(X), sep='\t')
        return

    # [Step 4]: Continue with narrowed intervals
    print(iteration, "*", itos(X), X_width, sep='\t')
    [hansen(f, df, x.inf, x.sup, tol, iteration + 1) for x in X_next]

#### *Hansen's with table output*

In [0]:
def hansen_tbl(f, df, start, end, tol=1e-6, iteration=1):
    tbl = pd.DataFrame(columns=['Depth', 'Status', 'Interval', 'Width', 'Function extension'])

    def tbl_put(iteration, status, X, X_width, f_X):
        tbl.loc[len(tbl)] = [iteration, status, itos(X), X_width, itos(f_X)]

    def hansen(start, end, iteration=1):
        X = interval([start, end])
        X_width = width(X)
        f_X = f(X)

        # [Step 1]: Stop if no 0 in F(X)
        if 0 not in f_X:
            tbl_put(iteration, 'no root', X, X_width, f_X)
            return

        # Return result if tolerance is satisfied
        if X_width < tol:
            tbl_put(iteration, 'RESULT', X, X_width, f_X)
            return
        
        # [Step 2]: Half if 0 in F'(X)
        x_mid = midpoint(X)
        f_mid = f(x_mid)
        df_X = df(X)
        if f_mid == 0.0:
            tbl_put(iteration, 'RESULT and split', X, X_width, f_X)
            hansen(start, x_mid, iteration + 1)
            hansen(x_mid, end, iteration + 1)
            return

        # [Step 3]: Stop if X_next is empty
        U = x_mid - f_mid / df_X
        X_next = U & X
        if not X_next:
            tbl_put(iteration, 'empty intersection', X, X_width, f_X)
            return

        # [Step 4]: Continue with narrowed intervals
        tbl_put(iteration, 'continue', X, X_width, f_X)
        [hansen(x.inf, x.sup, iteration + 1) for x in X_next]
    
    hansen(start, end)
    return tbl.sort_values(['Depth', 'Status', 'Interval'])

#### *Example*

In [14]:
func = lambda x: x**2 - 8*x + 12
dfunc = lambda x: 2*x - 8

hansen_tbl(func, dfunc, -10, 10)

   Depth              Status  ...         Width          Function extension
0      1            continue  ...  2.000000e+01  [-68.0000000, 192.0000000]
2      2            continue  ...  9.571429e+00  [-67.8163265, 108.5714286]
1      2             no root  ...  9.000000e+00   [21.0000000, 192.0000000]
3      3            continue  ...  4.432143e+00   [-26.7020408, 32.1979719]
9      3            continue  ...  4.575255e+00   [-38.5721428, 68.6020408]
4      4            continue  ...  1.913250e+00    [-6.5509015, 14.0555583]
10     4            continue  ...  1.472485e+00   [-13.7499829, 16.1738227]
8      4  empty intersection  ...  9.595528e-01    [-11.6666536, 4.4172517]
5      5            continue  ...  4.583087e-01     [-2.7487383, 2.7615608]
11     5            continue  ...  1.194784e-01     [-1.2467192, 1.1394176]
6      6            continue  ...  2.707786e-03     [-0.0154859, 0.0170066]
12     6            continue  ...  8.677501e-04     [-0.0084176, 0.0089376]
7      7              RESULT  ...  2.566901e-07     [-0.0000015, 0.0000016]
13     7              RESULT  ...  2.817995e-08     [-0.0000003, 0.0000003]

[14 rows x 5 columns]

### Krawczyk's method

#### *Krawczyk's with console output*

In [0]:
def kravchyk(f, df, start, end, tol=1e-6, iteration=1):
    X = interval([start, end])
    X_width = width(X)

    # [Step 1]: Stop if no 0 in F(X)
    if 0 not in f(X):
        print(iteration, "-", itos(X), X_width, sep='\t')
        return

    # Return result if tolerance is satisfied
    if X_width < tol:
        print(iteration, "+", itos(X), X_width, sep='\t')
        return

    # Split interval if 0 in F'(X)
    x_mid = midpoint(X)
    df_X = df(X)
    if 0 in df_X:
        print(iteration, "**", itos(X), X_width, sep='\t')
        kravchyk(f, df, start, x_mid, tol, iteration + 1)
        kravchyk(f, df, x_mid,   end, tol, iteration + 1)
        return

    # Stop if X_next is empty
    df_x = df(x_mid)
    K = x_mid - f(x_mid) / df_x + (1 - df(X) / df_x)*(X - x_mid)
    X_next = K & X
    if not X_next:
        print(iteration, "-", itos(K) + '&' + itos(X), sep='\t')
        return

    # Display interval if shrunk or not
    print(iteration, "*", itos(X), X_width, sep='\t')
    kravchyk(f, df, X_next[0].inf, X_next[0].sup, tol, iteration + 1)

#### *Krawczyk's with table output*

In [0]:
def kravchyk_tbl(f, df, start, end, tol=1e-6, iteration=1):
    tbl = pd.DataFrame(columns=['Depth', 'Status', 'Interval', 'Width', 'Function extension'])

    def tbl_put(iteration, status, X, X_width, f_X):
        tbl.loc[len(tbl)] = [iteration, status, itos(X), X_width, itos(f_X)]

    def kravchyk(start, end, iteration=1):
        X = interval([start, end])
        X_width = width(X)
        f_X = f(X)

        # [Step 1]: Stop if no 0 in F(X)
        if 0 not in f_X:
            tbl_put(iteration, 'no root', X, X_width, f_X)
            return

        # Return result if tolerance is satisfied
        if X_width < tol:
            tbl_put(iteration, 'RESULT', X, X_width, f_X)
            return

        # Split interval if 0 in F'(X)
        x_mid = midpoint(X)
        df_X = df(X)
        if 0 in df_X:
            tbl_put(iteration, 'split', X, X_width, f_X)
            kravchyk(start, x_mid, iteration + 1)
            kravchyk(x_mid,   end, iteration + 1)
            return

        # Stop if X_next is empty
        df_x = df(x_mid)
        K = x_mid - f(x_mid) / df_x + (1 - df(X) / df_x)*(X - x_mid)
        X_next = K & X
        if not X_next:
            tbl_put(iteration, 'empty intersection', X, X_width, f_X)
            return

        # Display interval if shrunk or not
        tbl_put(iteration, 'continue', X, X_width, f_X)
        kravchyk(X_next[0].inf, X_next[0].sup, iteration + 1)
    
    kravchyk(start, end)
    return tbl.sort_values(['Depth', 'Status', 'Interval'])

#### *Example*

In [17]:
func = lambda x: x**3 - 8*x**2 + 3*x + 12
dfunc = lambda x: 3*x**2 - 16*x + 3

kravchyk_tbl(func, dfunc, -2, 5)

   Depth              Status  ...         Width           Function extension
0      1               split  ...  7.000000e+00  [-202.0000000, 152.0000000]
1      2               split  ...  3.500000e+00    [-34.0000000, 19.8750000]
15     2               split  ...  3.500000e+00  [-180.1250000, 134.0000000]
2      3            continue  ...  1.750000e+00    [-34.0000000, 10.7343750]
11     3               split  ...  1.750000e+00     [-6.7656250, 19.8750000]
16     3               split  ...  1.750000e+00    [-64.6250000, 38.0781250]
24     3               split  ...  1.750000e+00   [-143.9218750, 67.5000000]
3      4            continue  ...  1.540564e+00    [-24.7614078, 10.7343750]
13     4            continue  ...  8.750000e-01     [-3.8808594, 16.7500000]
17     4            continue  ...  8.750000e-01    [-25.2500000, 14.5214844]
23     4  empty intersection  ...  8.750000e-01    [-51.9785156, 10.9531250]
12     4             no root  ...  8.750000e-01      [8.1093750, 14.1191406]
25     4               split  ...  8.750000e-01    [-80.0468750, 10.0644531]
28     4               split  ...  8.750000e-01   [-105.4355469, 15.8750000]
4      5            continue  ...  1.291610e+00     [-19.0723297, 9.8875153]
18     5            continue  ...  4.729434e-01     [-11.2650455, 7.5985237]
14     5             no root  ...  1.716277e-01       [0.3291266, 5.7584166]
26     5             no root  ...  4.375000e-01   [-52.7031250, -11.2961426]
27     5             no root  ...  4.375000e-01   [-62.9211426, -14.2167969]
29     5             no root  ...  4.375000e-01   [-71.9667969, -15.4626465]
30     5             no root  ...  4.375000e-01   [-79.3376465, -14.5312500]
5      6            continue  ...  9.074470e-01     [-12.3398389, 7.8108075]
19     6            continue  ...  1.927849e-01      [-3.6338549, 3.5102439]
6      7            continue  ...  4.372043e-01      [-5.3453502, 4.2940381]
20     7            continue  ...  3.206322e-02      [-0.5938602, 0.5922285]
7      8            continue  ...  9.842282e-02      [-1.1094096, 1.0561308]
21     8            continue  ...  8.790440e-04      [-0.0162594, 0.0162582]
22     9              RESULT  ...  6.595229e-07      [-0.0000122, 0.0000122]
8      9            continue  ...  4.876029e-03      [-0.0537017, 0.0535709]
9     10            continue  ...  1.189178e-05      [-0.0001308, 0.0001308]
10    11              RESULT  ...  7.070744e-11      [-0.0000000, 0.0000000]

[31 rows x 5 columns]

## **System of equations**

### *Utility*

In [0]:
def print_interval(iteration, status, X, Y):
    print(iteration, status, 'X:'+itos(X), width(X), 'Y:'+itos(Y), width(Y), sep='\t')

# returns determinant, 
def det2x2(m):
    return m[0][0]*m[1][1] - m[0][1]*m[1][0]

# subinterval, t - top, b - bottom, l - left, r - right
def half_interval(x):
    mid = midpoint(x)
    return (interval[x[0].inf, mid], interval[mid, x[0].sup])

### *Moore's method*

$N(\vec{X}) = m(\vec{X}) + (- \frac{1}{F'(\vec{X})}) f(m(\vec{X}))$

#### Moore's with console output

In [0]:
# Example:
# f = lambda x, y: (x + y, x - y)
# df = lambda x, y: ((1,  1),
#                    (1, -1))
# intervals = (interval[-1, 1], interval[-1, 1])
#
def moore_system(f, df, intervals, tol=1e-6, iteration=1):
    X, Y = intervals
    X_width, Y_width = width(X), width(Y)

    # [Step 1]: Stop if no 0 in F(X, Y)
    f_XY = f(X, Y)
    if 0 not in f_XY[0] or 0 not in f_XY[1]:
        print_interval(iteration, '-', X, Y)
        return

    # Return result if tolerance is satisfied
    if max(X_width, Y_width) < tol:
        print_interval(iteration, '+', X, Y)
        return

    # [Step 2]: Half if 0 in F'(X, Y)
    x_mid, y_mid = midpoint(X), midpoint(Y)
    df_XY = df(X, Y)
    df_XY_det = interval(det2x2(df_XY))

    if 0 in df_XY_det:
        print_interval(iteration, '**', X, Y)
        Xl, Xr = half_interval(X)
        Yl, Yr = half_interval(Y)
        if X_width < tol: # half only Y
            moore_system(f, df, (X, Yl), tol, iteration + 1)
            moore_system(f, df, (X, Yr), tol, iteration + 1)
        elif Y_width < tol: # half only X
            moore_system(f, df, (Xl, Y), tol, iteration + 1)
            moore_system(f, df, (Xr, Y), tol, iteration + 1)
        else: # half everything
            moore_system(f, df, (Xl, Yl), tol, iteration + 1)
            moore_system(f, df, (Xl, Yr), tol, iteration + 1)
            moore_system(f, df, (Xr, Yl), tol, iteration + 1)
            moore_system(f, df, (Xr, Yr), tol, iteration + 1)
        return

    f1m, f2m = f(x_mid, y_mid)
    df1x, df1y, df2x, df2y = *df_XY[0], *df_XY[1]
    det = df_XY_det
    U_X = x_mid + ( (-df2y/det)*f1m + ( df1y/det)*f2m )
    U_Y = y_mid + ( ( df2x/det)*f1m + (-df1x/det)*f2m )
    X_next, Y_next = U_X & X, U_Y & Y
    
    # [Step 3]: Stop if X_next or Y_next is empty
    if not X_next or not Y_next:
        print('empty ==> ', end='')
        print_interval(iteration, '-', X, Y)
        return

    # [Step 4]: Continue with narrowed interval
    print_interval(iteration, "*", X, Y)
    moore_system(f, df, (X_next, Y_next), tol, iteration + 1)

#### Moore's with table output

In [0]:
def moore_system_tbl(f, df, intervals, tol=1e-6):
    tbl = pd.DataFrame(columns=['Depth', 'Status', 'X', 'X width', 'Y', 'Y width'])

    def tbl_put(iteration, status, X, Y, X_width, Y_width):
        tbl.loc[len(tbl)] = [iteration, status, itos(X), X_width, itos(Y), Y_width]

    def moore_system(intervals, iteration=1):
        X, Y = intervals
        X_width, Y_width = width(X), width(Y)

        # [Step 1]: Stop if no 0 in F(X, Y)
        f_XY = f(X, Y)
        if 0 not in f_XY[0] or 0 not in f_XY[1]:
            tbl_put(iteration, 'no root', X, Y, X_width, Y_width)
            return

        # Return result if tolerance is satisfied
        if max(X_width, Y_width) < tol:
            tbl_put(iteration, 'RESULT', X, Y, X_width, Y_width)
            return

        # [Step 2]: Half if 0 in F'(X, Y)
        x_mid, y_mid = midpoint(X), midpoint(Y)
        df_XY = df(X, Y)
        df_XY_det = interval(det2x2(df_XY))

        if 0 in df_XY_det:
            Xl, Xr = half_interval(X)
            Yl, Yr = half_interval(Y)
            if X_width < tol: # half only Y
                tbl_put(iteration, 'half Y', X, Y, X_width, Y_width)
                moore_system((X, Yl), iteration + 1)
                moore_system((X, Yr), iteration + 1)
            elif Y_width < tol: # half only X
                tbl_put(iteration, 'half X', X, Y, X_width, Y_width)
                moore_system((Xl, Y), iteration + 1)
                moore_system((Xr, Y), iteration + 1)
            else: # half everything
                tbl_put(iteration, 'half X and Y', X, Y, X_width, Y_width)
                moore_system((Xl, Yl), iteration + 1)
                moore_system((Xl, Yr), iteration + 1)
                moore_system((Xr, Yl), iteration + 1)
                moore_system((Xr, Yr), iteration + 1)
            return

        f1m, f2m = f(x_mid, y_mid)
        df1x, df1y, df2x, df2y = *df_XY[0], *df_XY[1]
        det = df_XY_det
        U_X = x_mid + ( (-df2y/det)*f1m + ( df1y/det)*f2m )
        U_Y = y_mid + ( ( df2x/det)*f1m + (-df1x/det)*f2m )
        X_next, Y_next = U_X & X, U_Y & Y

        # [Step 3]: Stop if X_next or Y_next is empty
        if not X_next or not Y_next:
            tbl_put(iteration, 'empty intersection', X, Y, X_width, Y_width)
            return

        # [Step 4]: Continue with narrowed interval
        tbl_put(iteration, 'continue', X, Y, X_width, Y_width)
        moore_system((X_next, Y_next), iteration + 1)

    moore_system(intervals)
    return tbl.sort_values(['Depth', 'Status', 'X', 'Y'])

#### Example

In [21]:
func = lambda x, y: (x + y, x - y)
dfunc = lambda x, y: ((1,  1), (1, -1))
init_intervals = (interval[-40, 1], interval[-1, 100])
moore_system_tbl(func, dfunc, init_intervals, tol=1e-6)

  Depth    Status  ...                          Y  Y width
0     1  continue  ...  [-1.0000000, 100.0000000]    101.0
1     2    RESULT  ...    [-0.0000000, 0.0000000]      0.0

[2 rows x 6 columns]

In [22]:
func = lambda x, y: (x**2 - y - 3,
                     x    - y - 1)
dfunc = lambda x, y: ((2*x, -1),
                      (1,   -1))
init_intervals = (interval[-4, 3.5], interval[-3.7, 5.4])
moore_system_tbl(func, dfunc, init_intervals, tol=1e-6)

   Depth              Status  ...                         Y       Y width
0      1        half X and Y  ...   [-3.7000000, 5.4000000]  9.100000e+00
1      2            continue  ...   [-3.7000000, 0.8500000]  4.550000e+00
8      2        half X and Y  ...   [-3.7000000, 0.8500000]  4.550000e+00
20     2        half X and Y  ...    [0.8500000, 5.4000000]  4.550000e+00
7      2             no root  ...    [0.8500000, 5.4000000]  4.550000e+00
2      3            continue  ...   [-3.7000000, 0.4409722]  4.140972e+00
16     3            continue  ...   [-1.4250000, 0.8500000]  2.275000e+00
23     3            continue  ...    [0.8500000, 3.1250000]  2.275000e+00
10     3        half X and Y  ...   [-1.4250000, 0.8500000]  2.275000e+00
9      3             no root  ...  [-3.7000000, -1.4250000]  2.275000e+00
21     3             no root  ...    [0.8500000, 3.1250000]  2.275000e+00
22     3             no root  ...    [3.1250000, 5.4000000]  2.275000e+00
15     3             no root  ...  [-3.7000000, -1.4250000]  2.275000e+00
28     3             no root  ...    [3.1250000, 5.4000000]  2.275000e+00
3      4            continue  ...  [-2.6110813, -1.7850704]  8.260109e-01
17     4            continue  ...   [-0.9982639, 0.8500000]  1.848264e+00
24     4            continue  ...    [0.8500000, 1.4941406]  6.441406e-01
13     4  empty intersection  ...  [-1.4250000, -0.2875000]  1.137500e+00
12     4             no root  ...   [-0.2875000, 0.8500000]  1.137500e+00
11     4             no root  ...  [-1.4250000, -0.2875000]  1.137500e+00
14     4             no root  ...   [-0.2875000, 0.8500000]  1.137500e+00
4      5            continue  ...  [-2.0382874, -1.9522683]  8.601917e-02
18     5            continue  ...    [0.0184087, 0.8500000]  8.315913e-01
25     5            continue  ...    [0.8568216, 1.1148241]  2.580025e-01
5      6            continue  ...  [-2.0000997, -1.9999024]  1.972274e-04
26     6            continue  ...    [0.9987276, 1.0013230]  2.595361e-03
19     6             no root  ...    [0.7049861, 0.8500000]  1.450139e-01
6      7              RESULT  ...  [-2.0000000, -2.0000000]  9.355450e-11
27     7              RESULT  ...    [1.0000000, 1.0000000]  3.322528e-08

[29 rows x 6 columns]

In [23]:
func = lambda x, y: (x**3 - x**2 + 3 - y,
                     x**2 + 1 - y)
dfunc = lambda x, y: ((3*x**2 - 2*x, -1),
                      (         2*x, -1))
init_intervals = (interval[-0.9, -0.8], interval[1.5, 1.8])
moore_system_tbl(func, dfunc, init_intervals, tol=1e-6)

  Depth    Status  ...                       Y       Y width
0     1  continue  ...  [1.5000000, 1.8000000]  3.000000e-01
1     2  continue  ...  [1.6958706, 1.7145996]  1.872896e-02
2     3  continue  ...  [1.7043988, 1.7044057]  6.892175e-06
3     4    RESULT  ...  [1.7044023, 1.7044023]  3.042011e-14

[4 rows x 6 columns]

### *Hansen's method*

#### Hansen's with console output

In [0]:
def hansen_system(f, df, intervals, tol=1e-6, iteration=1):
    X, Y = intervals
    X_width, Y_width = width(X), width(Y)    
    
    # Stop if no 0 in F(X, Y)
    f_XY = f(X, Y)
    if 0 not in f_XY[0] or 0 not in f_XY[1]:
        print_interval(iteration, '-', X, Y)
        return
    
    # Return result if tolerance is satisfied
    if max(X_width, Y_width) < tol:
        print_interval(iteration, '+', X, Y)
        return

    x_mid, y_mid = midpoint(X), midpoint(Y)
    df_XY = df(X, Y)
    df_XY_det = interval(det2x2(df_XY))  
    f1m, f2m = f(x_mid, y_mid)

    # Check midpoints
    if f1m == 0.0 and f2m == 0.0:
        print('Result with split ==>', end=' ')
        print_interval(iteration, '+', X, Y)
        Xl, Xr = half_interval(X)
        Yl, Yr = half_interval(Y)
        hansen_system(f, df, (Xl, Yl), tol, iteration + 1)
        hansen_system(f, df, (Xl, Yr), tol, iteration + 1)
        hansen_system(f, df, (Xr, Yl), tol, iteration + 1)
        hansen_system(f, df, (Xr, Yr), tol, iteration + 1)
        return
 
    df1x, df1y, df2x, df2y = *df_XY[0], *df_XY[1]
    det = df_XY_det
    U_X = x_mid + ( (-df2y/det)*f1m + ( df1y/det)*f2m )
    U_Y = y_mid + ( ( df2x/det)*f1m + (-df1x/det)*f2m )
    X_next, Y_next = U_X & X, U_Y & Y

    # Stop if X_next is empty
    if not X_next or not Y_next:
        print('empty ==>', end=' ')
        print_interval(iteration, '-', X, Y)
        return

    # Force split if X and Y haven't changed
    if X == X_next and Y == Y_next:
        print_interval(iteration, '**', X, Y)
        if(X_width > Y_width):
            print('force split X')
            Xl, Xr = half_interval(X)
            hansen_system(f, df, (Xl, Y), tol, iteration + 1)
            hansen_system(f, df, (Xr, Y), tol, iteration + 1)
        else:
            print('force split Y')
            Yl, Yr = half_interval(Y)
            hansen_system(f, df, (X, Yl), tol, iteration + 1)
            hansen_system(f, df, (X, Yr), tol, iteration + 1)
        return
    
    # Continue with narrowed intervals
    print_interval(iteration, "*", X_next, Y_next)
    for Xi in X_next:
        for Yi in Y_next:
            hansen_system(f, df, (interval(Xi), interval(Yi)), tol, iteration + 1)

#### Hansen's with table output

In [0]:
def hansen_system_tbl(f, df, intervals, tol=1e-6):
    tbl = pd.DataFrame(columns=['Depth', 'Status', 'X', 'X width', 'Y', 'Y width'])

    def tbl_put(iteration, status, X, Y, X_width, Y_width):
        tbl.loc[len(tbl)] = [iteration, status, itos(X), X_width, itos(Y), Y_width]

    def hansen_system(intervals, iteration=1):
        X, Y = intervals
        X_width, Y_width = width(X), width(Y)    

        # Stop if no 0 in F(X, Y)
        f_XY = f(X, Y)
        if 0 not in f_XY[0] or 0 not in f_XY[1]:
            tbl_put(iteration, 'no root', X, Y, X_width, Y_width)
            return

        # Return result if tolerance is satisfied
        if max(X_width, Y_width) < tol:
            tbl_put(iteration, 'RESULT', X, Y, X_width, Y_width)
            return

        x_mid, y_mid = midpoint(X), midpoint(Y)
        df_XY = df(X, Y)
        df_XY_det = interval(det2x2(df_XY))  
        f1m, f2m = f(x_mid, y_mid)

        # Check midpoints
        if f1m == 0.0 and f2m == 0.0:
            tbl_put(iteration, 'RESULT with split', X, Y, X_width, Y_width)
            Xl, Xr = half_interval(X)
            Yl, Yr = half_interval(Y)
            hansen_system((Xl, Yl), iteration + 1)
            hansen_system((Xl, Yr), iteration + 1)
            hansen_system((Xr, Yl), iteration + 1)
            hansen_system((Xr, Yr), iteration + 1)
            return

        df1x, df1y, df2x, df2y = *df_XY[0], *df_XY[1]
        det = df_XY_det
        U_X = x_mid + ( (-df2y/det)*f1m + ( df1y/det)*f2m )
        U_Y = y_mid + ( ( df2x/det)*f1m + (-df1x/det)*f2m )
        X_next, Y_next = U_X & X, U_Y & Y

        # Stop if X_next is empty
        if not X_next or not Y_next:
            tbl_put(iteration, 'empty intersection', X, Y, X_width, Y_width)
            return

        # Force split if X and Y haven't changed
        if X == X_next and Y == Y_next:
            if(X_width > Y_width):
                tbl_put(iteration, 'force split X', X, Y, X_width, Y_width)
                Xl, Xr = half_interval(X)
                hansen_system((Xl, Y), iteration + 1)
                hansen_system((Xr, Y), iteration + 1)
            else:
                tbl_put(iteration, 'force split Y', X, Y, X_width, Y_width)
                Yl, Yr = half_interval(Y)
                hansen_system((X, Yl), iteration + 1)
                hansen_system((X, Yr), iteration + 1)
            return

        # Continue with narrowed intervals
        tbl_put(iteration, 'continue', X, Y, X_width, Y_width)
        for Xi in X_next:
            for Yi in Y_next:
                hansen_system((interval(Xi), interval(Yi)), iteration + 1)

    hansen_system(intervals)
    return tbl.sort_values(['Depth', 'Status', 'X', 'Y'])

#### Example

In [26]:
func = lambda x, y: (x + y, x - y)
dfunc = lambda x, y: ((1,  1), (1, -1))
init_intervals = (interval[-40, 1], interval[-1, 100])
hansen_system_tbl(func, dfunc, init_intervals, tol=1e-6)

  Depth    Status  ...                          Y  Y width
0     1  continue  ...  [-1.0000000, 100.0000000]    101.0
1     2    RESULT  ...   [-0.0000000, -0.0000000]      0.0

[2 rows x 6 columns]

In [27]:
func = lambda x, y: (x**2 - y - 3,
                     x    - y - 1)
dfunc = lambda x, y: ((2*x, -1),
                      (1,   -1))
init_intervals = (interval[-1.3, 2.1], interval[-2.2, 2.4])
hansen_system_tbl(func, dfunc, init_intervals, tol=1e-6)

   Depth         Status  ...                         Y       Y width
0      1  force split Y  ...   [-2.2000000, 2.4000000]  4.600000e+00
1      2  force split X  ...   [-2.2000000, 0.1000000]  2.300000e+00
16     2  force split X  ...    [0.1000000, 2.4000000]  2.300000e+00
2      3       continue  ...   [-2.2000000, 0.1000000]  2.300000e+00
11     3  force split Y  ...   [-2.2000000, 0.1000000]  2.300000e+00
18     3  force split Y  ...    [0.1000000, 2.4000000]  2.300000e+00
17     3        no root  ...    [0.1000000, 2.4000000]  2.300000e+00
3      4       continue  ...   [-2.2000000, 0.0645833]  2.264583e+00
13     4  force split X  ...   [-1.0500000, 0.1000000]  1.150000e+00
19     4  force split X  ...    [0.1000000, 1.2500000]  1.150000e+00
12     4        no root  ...  [-2.2000000, -1.0500000]  1.150000e+00
26     4        no root  ...    [1.2500000, 2.4000000]  1.150000e+00
4      5       continue  ...  [-2.2000000, -0.0190394]  2.180961e+00
21     5       continue  ...    [0.1000000, 1.2500000]  1.150000e+00
14     5        no root  ...   [-1.0500000, 0.1000000]  1.150000e+00
20     5        no root  ...    [0.1000000, 1.2500000]  1.150000e+00
15     5        no root  ...   [-1.0500000, 0.1000000]  1.150000e+00
5      6       continue  ...  [-2.2000000, -0.2164818]  1.983518e+00
22     6       continue  ...    [0.9466797, 1.2500000]  3.033203e-01
6      7       continue  ...  [-2.2000000, -0.6826654]  1.517335e+00
23     7       continue  ...    [0.9908560, 1.0086223]  1.776628e-02
7      8       continue  ...  [-2.2000000, -1.7203758]  4.796242e-01
24     8       continue  ...    [0.9999990, 1.0000010]  1.991444e-06
25     9         RESULT  ...    [1.0000000, 1.0000000]  2.775558e-15
8      9       continue  ...  [-2.0213709, -1.9855685]  3.580242e-02
9     10       continue  ...  [-2.0000222, -1.9999777]  4.448570e-05
10    11         RESULT  ...  [-2.0000000, -2.0000000]  1.249223e-12

[27 rows x 6 columns]

### *Krawczyk's method*

#### Krawczyk's with console output

In [0]:
def kravchyk_system(f, df, intervals, tol=1e-6, iteration=1):
    X, Y = intervals
    X_width, Y_width = width(X), width(Y)

    # Stop if no 0 in F(X, Y)
    f_XY = f(X, Y)
    if 0 not in f_XY[0] or 0 not in f_XY[1]:
        print_interval(iteration, '-', X, Y)
        return

    # Return result if tolerance is satisfied
    if max(X_width, Y_width) < tol:
        print_interval(iteration, '+', X, Y)
        return

    # Half if 0 in F'(X, Y)
    x_mid, y_mid = midpoint(X), midpoint(Y)
    df_XY = df(X, Y)
    df_XY_det = interval(det2x2(df_XY))

    if 0 in df_XY_det:
        Xl, Xr = half_interval(X)
        Yl, Yr = half_interval(Y)
        if X_width < tol: # half only Y
            print_interval(iteration, '**', X, Y)
            kravchyk_system(f, df, (X, Yl), tol, iteration + 1)
            kravchyk_system(f, df, (X, Yr), tol, iteration + 1)
        elif Y_width < tol: # half only X
            print_interval(iteration, '**', X, Y)
            kravchyk_system(f, df, (Xl, Y), tol, iteration + 1)
            kravchyk_system(f, df, (Xr, Y), tol, iteration + 1)
        else: # half everything
            print_interval(iteration, '****', X, Y)
            kravchyk_system(f, df, (Xl, Yl), tol, iteration + 1)
            kravchyk_system(f, df, (Xl, Yr), tol, iteration + 1)
            kravchyk_system(f, df, (Xr, Yl), tol, iteration + 1)
            kravchyk_system(f, df, (Xr, Yr), tol, iteration + 1)
        return

    f1m, f2m = f(x_mid, y_mid)
    df_mid = df(x_mid, y_mid)
    df1x,   df1y,  df2x,  df2y =  *df_XY[0], *df_XY[1]
    df1xm, df1ym, df2xm, df2ym = *df_mid[0], *df_mid[1]
    det = det2x2(df_mid)
    retard_X = (1 + df2x*df1ym/det - df1x*df2ym/det)*(X-x_mid) \
             + (    df2y*df1ym/det - df1y*df2ym/det)*(Y-y_mid)
    retard_Y = (  - df2x*df1xm/det + df1x*df2xm/det)*(X-x_mid) \
             + (1 - df2y*df1xm/det + df1y*df2xm/det)*(Y-y_mid)
    K_X = x_mid + ( (-df2ym/det)*f1m + ( df1ym/det)*f2m ) + retard_X
    K_Y = y_mid + ( ( df2xm/det)*f1m + (-df1xm/det)*f2m ) + retard_Y
    X_next, Y_next = K_X & X, K_Y & Y
    
    # Stop if X_next or Y_next is empty
    if not X_next or not Y_next:
        print('empty ==> ', end='')
        print_interval(iteration, '-', X, Y)
        return

    # Continue with narrowed interval
    print_interval(iteration, "*", X, Y)
    kravchyk_system(f, df, (X_next, Y_next), tol, iteration + 1)

#### Krawczyk's with table output

In [0]:
def kravchyk_system_tbl(f, df, intervals, tol=1e-6, iteration=1):
    tbl = pd.DataFrame(columns=['Depth', 'Status', 'X', 'X width', 'Y', 'Y width'])

    def tbl_put(iteration, status, X, Y, X_width, Y_width):
        tbl.loc[len(tbl)] = [iteration, status, itos(X), X_width, itos(Y), Y_width]

    def kravchyk_system(intervals, iteration=1):
        X, Y = intervals
        X_width, Y_width = width(X), width(Y)

        # Stop if no 0 in F(X, Y)
        f_XY = f(X, Y)
        if 0 not in f_XY[0] or 0 not in f_XY[1]:
            tbl_put(iteration, 'no root', X, Y, X_width, Y_width)
            return

        # Return result if tolerance is satisfied
        if max(X_width, Y_width) < tol:
            tbl_put(iteration, 'RESULT', X, Y, X_width, Y_width)
            return

        # Half if 0 in F'(X, Y)
        x_mid, y_mid = midpoint(X), midpoint(Y)
        df_XY = df(X, Y)
        df_XY_det = interval(det2x2(df_XY))

        if 0 in df_XY_det:
            Xl, Xr = half_interval(X)
            Yl, Yr = half_interval(Y)
            if X_width < tol: # half only Y
                tbl_put(iteration, 'half Y', X, Y, X_width, Y_width)
                kravchyk_system((X, Yl), iteration + 1)
                kravchyk_system((X, Yr), iteration + 1)
            elif Y_width < tol: # half only X
                tbl_put(iteration, 'half X', X, Y, X_width, Y_width)
                kravchyk_system((Xl, Y), iteration + 1)
                kravchyk_system((Xr, Y), iteration + 1)
            else: # half everything
                tbl_put(iteration, 'half X and Y', X, Y, X_width, Y_width)
                kravchyk_system((Xl, Yl), iteration + 1)
                kravchyk_system((Xl, Yr), iteration + 1)
                kravchyk_system((Xr, Yl), iteration + 1)
                kravchyk_system((Xr, Yr), iteration + 1)
            return

        f1m, f2m = f(x_mid, y_mid)
        df_mid = df(x_mid, y_mid)
        df1x,   df1y,  df2x,  df2y =  *df_XY[0], *df_XY[1]
        df1xm, df1ym, df2xm, df2ym = *df_mid[0], *df_mid[1]
        det = det2x2(df_mid)
        retard_X = (1 + df2x*df1ym/det - df1x*df2ym/det)*(X-x_mid) \
                + (    df2y*df1ym/det - df1y*df2ym/det)*(Y-y_mid)
        retard_Y = (  - df2x*df1xm/det + df1x*df2xm/det)*(X-x_mid) \
                + (1 - df2y*df1xm/det + df1y*df2xm/det)*(Y-y_mid)
        K_X = x_mid + ( (-df2ym/det)*f1m + ( df1ym/det)*f2m ) + retard_X
        K_Y = y_mid + ( ( df2xm/det)*f1m + (-df1xm/det)*f2m ) + retard_Y
        X_next, Y_next = K_X & X, K_Y & Y
        
        # Stop if X_next or Y_next is empty
        if not X_next or not Y_next:
            tbl_put(iteration, 'empty intersection', X, Y, X_width, Y_width)
            return

        # Continue with narrowed interval
        tbl_put(iteration, 'continue', X, Y, X_width, Y_width)
        kravchyk_system((X_next, Y_next), iteration + 1)
    
    kravchyk_system(intervals)
    return tbl.sort_values(['Depth', 'Status', 'X', 'Y'])

#### Example

In [30]:
func = lambda x, y: (x + y, x - y)
dfunc = lambda x, y: ((1,  1), (1, -1))
init_intervals = (interval[-40, 1], interval[-1, 100])
kravchyk_system_tbl(func, dfunc, init_intervals, tol=1e-6)

  Depth    Status  ...                          Y  Y width
0     1  continue  ...  [-1.0000000, 100.0000000]    101.0
1     2    RESULT  ...    [-0.0000000, 0.0000000]      0.0

[2 rows x 6 columns]

In [31]:
func = lambda x, y: (x**2 - y - 3,
                     x    - y - 1)
dfunc = lambda x, y: ((2*x, -1),
                      (1,   -1))
init_intervals = (interval[-4, 3.5], interval[-3.7, 5.4])
kravchyk_system_tbl(func, dfunc, init_intervals, tol=1e-6)

   Depth              Status  ...                         Y       Y width
0      1        half X and Y  ...   [-3.7000000, 5.4000000]  9.100000e+00
1      2            continue  ...   [-3.7000000, 0.8500000]  4.550000e+00
10     2        half X and Y  ...   [-3.7000000, 0.8500000]  4.550000e+00
20     2        half X and Y  ...    [0.8500000, 5.4000000]  4.550000e+00
9      2             no root  ...    [0.8500000, 5.4000000]  4.550000e+00
2      3            continue  ...  [-3.5803571, -0.9017857]  2.678571e+00
18     3            continue  ...   [-1.4250000, 0.8500000]  2.275000e+00
23     3            continue  ...    [0.8500000, 3.1250000]  2.275000e+00
12     3        half X and Y  ...   [-1.4250000, 0.8500000]  2.275000e+00
11     3             no root  ...  [-3.7000000, -1.4250000]  2.275000e+00
21     3             no root  ...    [0.8500000, 3.1250000]  2.275000e+00
22     3             no root  ...    [3.1250000, 5.4000000]  2.275000e+00
17     3             no root  ...  [-3.7000000, -1.4250000]  2.275000e+00
29     3             no root  ...    [3.1250000, 5.4000000]  2.275000e+00
3      4            continue  ...  [-2.7538867, -1.3361170]  1.417770e+00
24     4            continue  ...    [0.8500000, 1.5028409]  6.528409e-01
15     4  empty intersection  ...  [-1.4250000, -0.2875000]  1.137500e+00
19     4  empty intersection  ...    [0.6505682, 0.8500000]  1.994318e-01
14     4             no root  ...   [-0.2875000, 0.8500000]  1.137500e+00
13     4             no root  ...  [-1.4250000, -0.2875000]  1.137500e+00
16     4             no root  ...   [-0.2875000, 0.8500000]  1.137500e+00
4      5            continue  ...  [-2.3259092, -1.6754016]  6.505076e-01
25     5            continue  ...    [0.8866938, 1.1170378]  2.303440e-01
5      6            continue  ...  [-2.0704960, -1.9295042]  1.409918e-01
26     6            continue  ...    [0.9911691, 1.0088332]  1.766414e-02
6      7            continue  ...  [-2.0033131, -1.9966869]  6.626227e-03
27     7            continue  ...    [0.9999480, 1.0000520]  1.040073e-04
28     8              RESULT  ...    [1.0000000, 1.0000000]  3.605837e-09
7      8            continue  ...  [-2.0000073, -1.9999927]  1.463563e-05
8      9              RESULT  ...  [-2.0000000, -2.0000000]  7.140066e-11

[30 rows x 6 columns]

In [32]:
func = lambda x, y: (x**3 - x**2 + 3 - y,
                     x**2 + 1 - y)
dfunc = lambda x, y: ((3*x**2 - 2*x, -1),
                      (         2*x, -1))
init_intervals = (interval[-0.9, -0.8], interval[1.5, 1.8])
kravchyk_system_tbl(func, dfunc, init_intervals, tol=1e-6)

  Depth    Status  ...                       Y       Y width
0     1  continue  ...  [1.5000000, 1.8000000]  3.000000e-01
1     2  continue  ...  [1.6954389, 1.7134542]  1.801527e-02
2     3  continue  ...  [1.7043410, 1.7044635]  1.224604e-04
3     4    RESULT  ...  [1.7044023, 1.7044023]  5.772610e-09

[4 rows x 6 columns]

## **Lab tasks**

### *Lab 1.1*

In [0]:
func = lambda x: imath.sin(x-1)*(x-2)*(x-5)
dfunc = lambda x: (x**2 - 7*x + 10)*imath.cos(x-1) - (7 - 2*x)*imath.sin(x-1)

bisection_tbl(func, 0, 3, 1e-2).to_csv('bisection.csv')
moore_tbl(func, dfunc, 0, 3, 1e-6).to_csv('moore.csv')
hansen_tbl(func, dfunc, 0, 3, 1e-6).to_csv('hansen.csv')
kravchyk_tbl(func, dfunc, 0, 3, 1e-6).to_csv('kravchyk.csv')

In [34]:
bisection_tbl(func, 0, 3, 1e-2)

   Depth Mark                Interval     Width        Function extension
0      1    *  [0.0000000, 3.0000000]  3.000000  [-8.4147098, 10.0000000]
1      2    *  [0.0000000, 1.5000000]  1.500000   [-8.4147098, 4.7942554]
18     2    *  [1.5000000, 3.0000000]  1.500000   [-3.5000000, 1.7500000]
2      3    -  [0.0000000, 0.7500000]  0.750000  [-8.4147098, -1.3143335]
3      3    *  [0.7500000, 1.5000000]  0.750000   [-1.3143335, 2.5469482]
19     3    *  [1.5000000, 2.2500000]  0.750000   [-0.8303615, 1.6607231]
34     3    -  [2.2500000, 3.0000000]  0.750000  [-2.7500000, -0.4546487]
4      4    *  [0.7500000, 1.1250000]  0.375000   [-1.3143335, 0.6623345]
17     4    -  [1.1250000, 1.5000000]  0.375000    [0.2181808, 1.6255522]
20     4    -  [1.5000000, 1.8750000]  0.375000    [0.1872756, 1.3432011]
21     4    *  [1.8750000, 2.2500000]  0.375000   [-0.7413942, 0.3706971]
5      5    -  [0.7500000, 0.9375000]  0.187500  [-1.3143335, -0.2695998]
6      5    *  [0.9375000, 1.1250000]  0.187500   [-0.2695998, 0.5381468]
22     5    *  [1.8750000, 2.0625000]  0.187500   [-0.1706201, 0.3412402]
33     5    -  [2.0625000, 2.2500000]  0.187500  [-0.6969106, -0.1501457]
7      6    *  [0.9375000, 1.0312500]  0.093750   [-0.2695998, 0.1348657]
16     6    -  [1.0312500, 1.1250000]  0.093750    [0.1059398, 0.4793403]
23     6    -  [1.8750000, 1.9687500]  0.093750    [0.0727068, 0.3219447]
24     6    *  [1.9687500, 2.0625000]  0.093750   [-0.1655015, 0.0827508]
8      7    -  [0.9375000, 0.9843750]  0.046875  [-0.2695998, -0.0637219]
9      7    *  [0.9843750, 1.0312500]  0.046875   [-0.0637219, 0.1274283]
25     7    *  [1.9687500, 2.0156250]  0.046875   [-0.0402498, 0.0804996]
32     7    -  [2.0156250, 2.0625000]  0.046875  [-0.1629422, -0.0390050]
10     8    *  [0.9843750, 1.0078125]  0.023438   [-0.0637219, 0.0318619]
15     8    -  [1.0078125, 1.0312500]  0.023438    [0.0300366, 0.1237611]
26     8    -  [1.9687500, 1.9921875]  0.023438    [0.0193670, 0.0793074]
27     8    *  [1.9921875, 2.0156250]  0.023438   [-0.0399386, 0.0199693]
11     9    -  [0.9843750, 0.9960938]  0.011719  [-0.0637219, -0.0157013]
12     9    *  [0.9960938, 1.0078125]  0.011719   [-0.0157013, 0.0314024]
28     9    *  [1.9921875, 2.0039062]  0.011719   [-0.0099114, 0.0198228]
31     9    -  [2.0039062, 2.0156250]  0.011719  [-0.0397830, -0.0098342]
13    10    +  [0.9960938, 1.0019531]  0.005859   [-0.0157013, 0.0078507]
14    10    -  [1.0019531, 1.0078125]  0.005859    [0.0077363, 0.0311734]
29    10    -  [1.9921875, 1.9980469]  0.005859    [0.0049088, 0.0197485]
30    10    +  [1.9980469, 2.0039062]  0.005859   [-0.0098921, 0.0049460]

In [35]:
moore_tbl(func, dfunc, 0, 3, 1e-6)

   Depth    Status  ...         Width        Function extension
0      1     split  ...  3.000000e+00  [-8.4147098, 10.0000000]
1      2     split  ...  1.500000e+00   [-8.4147098, 4.7942554]
10     2     split  ...  1.500000e+00   [-3.5000000, 1.7500000]
2      3   no root  ...  7.500000e-01  [-8.4147098, -1.3143335]
18     3   no root  ...  7.500000e-01  [-2.7500000, -0.4546487]
3      3     split  ...  7.500000e-01   [-1.3143335, 2.5469482]
11     3     split  ...  7.500000e-01   [-0.8303615, 1.6607231]
4      4  continue  ...  3.750000e-01   [-1.3143335, 0.6623345]
13     4  continue  ...  3.750000e-01   [-0.7413942, 0.3706971]
9      4   no root  ...  3.750000e-01    [0.2181808, 1.6255522]
12     4   no root  ...  3.750000e-01    [0.1872756, 1.3432011]
5      5  continue  ...  1.039961e-01   [-0.1071757, 0.3220333]
14     5  continue  ...  1.519890e-01   [-0.0721740, 0.3342754]
6      6  continue  ...  1.109475e-02   [-0.0305817, 0.0142178]
15     6  continue  ...  3.672946e-02   [-0.0658603, 0.0287026]
7      7  continue  ...  7.823893e-05   [-0.0001739, 0.0001391]
16     7  continue  ...  9.786590e-04   [-0.0011919, 0.0012798]
8      8    RESULT  ...  1.192098e-09   [-0.0000000, 0.0000000]
17     8    RESULT  ...  6.237972e-08   [-0.0000001, 0.0000001]

[19 rows x 5 columns]

In [36]:
hansen_tbl(func, dfunc, 0, 3, 1e-6)

   Depth    Status  ...         Width        Function extension
0      1  continue  ...  3.000000e+00  [-8.4147098, 10.0000000]
1      2  continue  ...  1.466292e+00   [-8.4147098, 4.4957751]
9      2  continue  ...  1.453389e+00   [-3.4533892, 1.5657293]
3      3  continue  ...  6.541334e-01   [-0.9289284, 2.2364188]
10     3  continue  ...  6.634216e-01   [-0.6786327, 1.4649393]
2      3   no root  ...  3.152696e-01  [-8.4147098, -4.9917290]
17     3   no root  ...  6.164528e-01  [-2.6164528, -0.6975169]
4      4  continue  ...  2.653175e-01   [-0.9289284, 0.3850202]
12     4  continue  ...  2.851949e-01   [-0.6043066, 0.2162582]
8      4   no root  ...  1.035639e-01    [0.6691910, 1.0420891]
11     4   no root  ...  1.941756e-01    [0.4391396, 1.0566613]
5      5  continue  ...  5.275825e-02   [-0.0768034, 0.1391657]
13     5  continue  ...  9.939975e-02   [-0.0636752, 0.1974645]
6      6  continue  ...  1.471332e-03   [-0.0035261, 0.0023657]
14     6  continue  ...  1.071578e-02   [-0.0170280, 0.0101753]
7      7    RESULT  ...  7.458150e-07   [-0.0000016, 0.0000014]
15     7  continue  ...  5.313483e-05   [-0.0000672, 0.0000670]
16     8    RESULT  ...  6.636247e-12   [-0.0000000, 0.0000000]

[18 rows x 5 columns]

In [37]:
kravchyk_tbl(func, dfunc, 0, 3, 1e-6)

   Depth    Status  ...         Width        Function extension
0      1     split  ...  3.000000e+00  [-8.4147098, 10.0000000]
1      2     split  ...  1.500000e+00   [-8.4147098, 4.7942554]
11     2     split  ...  1.500000e+00   [-3.5000000, 1.7500000]
2      3   no root  ...  7.500000e-01  [-8.4147098, -1.3143335]
21     3   no root  ...  7.500000e-01  [-2.7500000, -0.4546487]
3      3     split  ...  7.500000e-01   [-1.3143335, 2.5469482]
12     3     split  ...  7.500000e-01   [-0.8303615, 1.6607231]
4      4  continue  ...  3.750000e-01   [-1.3143335, 0.6623345]
14     4  continue  ...  3.750000e-01   [-0.7413942, 0.3706971]
10     4   no root  ...  3.750000e-01    [0.2181808, 1.6255522]
13     4   no root  ...  3.750000e-01    [0.1872756, 1.3432011]
5      5  continue  ...  2.226838e-01   [-0.5295229, 0.4907661]
15     5  continue  ...  2.645348e-01   [-0.3961216, 0.3548590]
6      6  continue  ...  8.789575e-02   [-0.1855729, 0.1853846]
16     6  continue  ...  1.437874e-01   [-0.1939729, 0.1938883]
7      7  continue  ...  1.364493e-02   [-0.0275227, 0.0275227]
17     7  continue  ...  4.073206e-02   [-0.0524274, 0.0524274]
8      8  continue  ...  3.262977e-04   [-0.0006527, 0.0006527]
18     8  continue  ...  3.105057e-03   [-0.0039252, 0.0039252]
9      9    RESULT  ...  1.863293e-07   [-0.0000004, 0.0000004]
19     9  continue  ...  1.768823e-05   [-0.0000223, 0.0000223]
20    10    RESULT  ...  5.730492e-10   [-0.0000000, 0.0000000]

[22 rows x 5 columns]

### *Lab 1.2*

In [0]:
func = lambda x, y: (x**2 - y - 3,
                     x    - y - 1)

dfunc = lambda x, y: ((2*x, -1),
                      (1,   -1))

init_intervals = (interval[-2, 3], interval[-3, 4])

moore_system_tbl   (func, dfunc, init_intervals, tol=1e-6).to_csv('moore_system.csv')
hansen_system_tbl  (func, dfunc, init_intervals, tol=1e-6).to_csv('hansen_system.csv')
kravchyk_system_tbl(func, dfunc, init_intervals, tol=1e-6).to_csv('kravchyk_system.csv')

In [39]:
moore_system_tbl(func, dfunc, init_intervals, tol=1e-6)

   Depth              Status  ...                         Y       Y width
0      1        half X and Y  ...   [-3.0000000, 4.0000000]  7.000000e+00
1      2        half X and Y  ...   [-3.0000000, 0.5000000]  3.500000e+00
15     2        half X and Y  ...   [-3.0000000, 0.5000000]  3.500000e+00
24     2        half X and Y  ...    [0.5000000, 4.0000000]  3.500000e+00
14     2             no root  ...    [0.5000000, 4.0000000]  3.500000e+00
2      3            continue  ...  [-3.0000000, -1.2500000]  1.750000e+00
27     3            continue  ...    [0.5000000, 2.2500000]  1.750000e+00
8      3        half X and Y  ...  [-3.0000000, -1.2500000]  1.750000e+00
17     3        half X and Y  ...   [-1.2500000, 0.5000000]  1.750000e+00
13     3             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
7      3             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
16     3             no root  ...  [-3.0000000, -1.2500000]  1.750000e+00
25     3             no root  ...    [0.5000000, 2.2500000]  1.750000e+00
26     3             no root  ...    [2.2500000, 4.0000000]  1.750000e+00
23     3             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
22     3             no root  ...  [-3.0000000, -1.2500000]  1.750000e+00
31     3             no root  ...    [2.2500000, 4.0000000]  1.750000e+00
3      4            continue  ...  [-2.3218750, -1.7937500]  5.281250e-01
28     4            continue  ...    [0.8687500, 1.1218750]  2.531250e-01
21     4  empty intersection  ...   [-0.3750000, 0.5000000]  8.750000e-01
12     4             no root  ...  [-2.1250000, -1.2500000]  8.750000e-01
11     4             no root  ...  [-3.0000000, -2.1250000]  8.750000e-01
10     4             no root  ...  [-2.1250000, -1.2500000]  8.750000e-01
9      4             no root  ...  [-3.0000000, -2.1250000]  8.750000e-01
19     4             no root  ...   [-0.3750000, 0.5000000]  8.750000e-01
18     4             no root  ...  [-1.2500000, -0.3750000]  8.750000e-01
20     4             no root  ...  [-1.2500000, -0.3750000]  8.750000e-01
4      5            continue  ...  [-2.0093953, -1.9888832]  2.051208e-02
29     5            continue  ...    [0.9996410, 1.0004415]  8.004735e-04
30     6              RESULT  ...    [1.0000000, 1.0000000]  2.199772e-08
5      6            continue  ...  [-2.0000037, -1.9999963]  7.433538e-06
6      7              RESULT  ...  [-2.0000000, -2.0000000]  2.642331e-14

[32 rows x 6 columns]

In [40]:
hansen_system_tbl(func, dfunc, init_intervals, tol=1e-6)

   Depth              Status  ...                         Y       Y width
0      1       force split Y  ...   [-3.0000000, 4.0000000]  7.000000e+00
1      2       force split X  ...   [-3.0000000, 0.5000000]  3.500000e+00
26     2       force split X  ...    [0.5000000, 4.0000000]  3.500000e+00
2      3       force split Y  ...   [-3.0000000, 0.5000000]  3.500000e+00
15     3       force split Y  ...   [-3.0000000, 0.5000000]  3.500000e+00
28     3       force split Y  ...    [0.5000000, 4.0000000]  3.500000e+00
27     3             no root  ...    [0.5000000, 4.0000000]  3.500000e+00
12     4       force split X  ...   [-1.2500000, 0.5000000]  1.750000e+00
3      4       force split X  ...  [-3.0000000, -1.2500000]  1.750000e+00
17     4       force split X  ...   [-1.2500000, 0.5000000]  1.750000e+00
29     4       force split X  ...    [0.5000000, 2.2500000]  1.750000e+00
16     4             no root  ...  [-3.0000000, -1.2500000]  1.750000e+00
35     4             no root  ...    [2.2500000, 4.0000000]  1.750000e+00
4      5            continue  ...  [-3.0000000, -1.2500000]  1.750000e+00
31     5            continue  ...    [0.5000000, 2.2500000]  1.750000e+00
9      5       force split Y  ...  [-3.0000000, -1.2500000]  1.750000e+00
18     5       force split Y  ...   [-1.2500000, 0.5000000]  1.750000e+00
14     5             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
13     5             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
30     5             no root  ...    [0.5000000, 2.2500000]  1.750000e+00
25     5             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
5      6            continue  ...  [-2.3218750, -1.7937500]  5.281250e-01
32     6            continue  ...    [0.8687500, 1.1218750]  2.531250e-01
22     6       force split X  ...   [-0.3750000, 0.5000000]  8.750000e-01
19     6       force split X  ...  [-1.2500000, -0.3750000]  8.750000e-01
11     6             no root  ...  [-2.1250000, -1.2500000]  8.750000e-01
10     6             no root  ...  [-3.0000000, -2.1250000]  8.750000e-01
6      7            continue  ...  [-2.0093953, -1.9888832]  2.051208e-02
33     7            continue  ...    [0.9996410, 1.0004415]  8.004735e-04
24     7  empty intersection  ...   [-0.3750000, 0.5000000]  8.750000e-01
23     7             no root  ...   [-0.3750000, 0.5000000]  8.750000e-01
20     7             no root  ...  [-1.2500000, -0.3750000]  8.750000e-01
21     7             no root  ...  [-1.2500000, -0.3750000]  8.750000e-01
34     8              RESULT  ...    [1.0000000, 1.0000000]  2.199772e-08
7      8            continue  ...  [-2.0000037, -1.9999963]  7.433538e-06
8      9              RESULT  ...  [-2.0000000, -2.0000000]  2.642331e-14

[36 rows x 6 columns]

In [41]:
kravchyk_system_tbl(func, dfunc, init_intervals, tol=1e-6)

   Depth              Status  ...                         Y       Y width
0      1        half X and Y  ...   [-3.0000000, 4.0000000]  7.000000e+00
1      2        half X and Y  ...   [-3.0000000, 0.5000000]  3.500000e+00
15     2        half X and Y  ...   [-3.0000000, 0.5000000]  3.500000e+00
24     2        half X and Y  ...    [0.5000000, 4.0000000]  3.500000e+00
14     2             no root  ...    [0.5000000, 4.0000000]  3.500000e+00
2      3            continue  ...  [-3.0000000, -1.2500000]  1.750000e+00
27     3            continue  ...    [0.5000000, 2.2500000]  1.750000e+00
8      3        half X and Y  ...  [-3.0000000, -1.2500000]  1.750000e+00
17     3        half X and Y  ...   [-1.2500000, 0.5000000]  1.750000e+00
13     3             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
7      3             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
16     3             no root  ...  [-3.0000000, -1.2500000]  1.750000e+00
25     3             no root  ...    [0.5000000, 2.2500000]  1.750000e+00
26     3             no root  ...    [2.2500000, 4.0000000]  1.750000e+00
23     3             no root  ...   [-1.2500000, 0.5000000]  1.750000e+00
22     3             no root  ...  [-3.0000000, -1.2500000]  1.750000e+00
32     3             no root  ...    [2.2500000, 4.0000000]  1.750000e+00
3      4            continue  ...  [-2.2458333, -1.8291667]  4.166667e-01
28     4            continue  ...    [0.8291667, 1.2458333]  4.166667e-01
21     4  empty intersection  ...   [-0.3750000, 0.5000000]  8.750000e-01
12     4             no root  ...  [-2.1250000, -1.2500000]  8.750000e-01
11     4             no root  ...  [-3.0000000, -2.1250000]  8.750000e-01
10     4             no root  ...  [-2.1250000, -1.2500000]  8.750000e-01
9      4             no root  ...  [-3.0000000, -2.1250000]  8.750000e-01
19     4             no root  ...   [-0.3750000, 0.5000000]  8.750000e-01
18     4             no root  ...  [-1.2500000, -0.3750000]  8.750000e-01
20     4             no root  ...  [-1.2500000, -0.3750000]  8.750000e-01
4      5            continue  ...  [-2.0286868, -1.9722279]  5.645890e-02
29     5            continue  ...    [0.9722279, 1.0286868]  5.645890e-02
5      6            continue  ...  [-2.0005312, -1.9994690]  1.062212e-03
30     6            continue  ...    [0.9994690, 1.0005312]  1.062212e-03
6      7              RESULT  ...  [-2.0000002, -1.9999998]  3.760980e-07
31     7              RESULT  ...    [0.9999998, 1.0000002]  3.760980e-07

[33 rows x 6 columns]

## **THE END**